body{
    background-color: rgb(255, 66, 176);
    color: black;
}
.cabecalho{
    background:linear-gradientto (right, pink 30%,rgb(255, 66, 176) 30%);
    display:flex;
    flex-direction: column;
    align-items: center;

}
.cabecalho img{
    text-align: center;
    width: 25%;
}
.cabecalho h1{
    margin-left: 30%;
}