body{
    background-color: rgb(255, 66, 176);
    color: black;
}
.cabecalho{
    background:linear-gradientto (right, pink 30%,rgb(255, 66, 176) 30%);
    display:flex;
    flex-direction: column;
    align-items: center;

}
.cabecalho img{
    text-align: center;
    width: 25%;
}
.cabecalho h1{
    margin-left: 30%;
}
.cabecalho{
    background-image: url(./img/imagem\ de\ fone.webp);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
  display: grid;
  grid-template-columns: 50% 50%;
}
.cabecalho-img{
    width: 50px;
    height: 50px;
}
.cabecalho-secundario{
    display: flex;
}
.cabecalho-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteudo01{
    display: flex;
    padding:32px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 217, 255);
    font-size: 24px;
}
.conteudo01-img{
    width: 40%
}