body{
    background-color: rgb(255, 66, 176);
    color: black;
}
.cabecalho{
    background:linear-gradient(to right, pink 30%, rgb(255, 66, 176) 30%)
}
.cabecalho img{
    text-align: center;
    width: 50%;
}
.cabecalho h1{
    margin-left: 30%;
}